:root {
    --primary-white-color: #FFFFFF;
    --accent-color: #2196f3;
    --primary-text-color: #757575;
    --black-text-color: #212121;
    --accent-background-color: #2F303A;
    --button-secondary-background-color: #F5F4FA;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}


.list {
    list-style: none;
}


/* Header */

.logo {
    color: var(--accent-color);
    text-decoration: none;
}

.site-nav .link {
    color: var(--black-text-color);
    text-decoration: none;
}

.site-nav .link:focus,
.site-nav .link:hover {
    color: var(--accent-color);
}

.contact .link {
    color: var(--primary-text-color);
    text-decoration: none;
}

.contact .link:focus,
.contact .link:hover {
    color: var(--accent-color);
}

/* Hero */

.hero {
    background-color: var(--accent-background-color);
}

.hero .title {
    color: var(--primary-white-color);
}

/* Buttons */

.button {
    color: var(--black-text-color);
}

.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.button.secondary {
    color: var(--black-text-color);
    background-color: var(--button-secondary-background-color);
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* Main */

.section .title {
    color: var(--black-text-color);
}

.portfolio .link {
    color: var(--primary-text-color);
    text-decoration: none;
}

.portfolio .link:hover,
.portfolio .link:focus{
    color: var(--accent-color);
}

/* Footer */

footer {
    background-color: var(--accent-background-color);
}

.address .link {
    color: var(--primary-white-color);
    text-decoration: none;
}